<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- zerynth main menu -->
    <menuitem name="Zerynth"
        id="menu_zerynth"
        groups="ZcloudApp.zcloud_user,ZcloudApp.zcloud_admin"
        web_icon="ZcloudApp,static/description/icon.png"
        sequence="10"/>
    <!-- zerynth settings menu -->
    <menuitem name="Configuration"
        id="menu_zerynth_settings"
        groups="ZcloudApp.zcloud_admin"
        parent="menu_zerynth"
        sequence="90"/>
    <!-- configuration action -->
    <record id="z_cloud_configuration_action" model="ir.actions.act_window">
        <field name="name">Settings</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">res.config.settings</field>
        <field name="view_mode">form</field>
        <field name="target">inline</field>
        <field name="context">{'module' : 'ZcloudApp', 'bin_size': False}</field>
    </record>
    <!-- configuration menu -->
    <menuitem
        id="menu_zerynth_configuration"
        name="Settings"
        action="z_cloud_configuration_action"
        groups="ZcloudApp.zcloud_admin"
        parent="menu_zerynth_settings"
        sequence="10"/>
    <!-- queue action -->
    <record id="z_cloud_queue_action" model="ir.actions.act_window">
        <field name="name">Raw Data Queue</field>
        <field name="res_model">z.cloud.queue</field>
        <field name="view_mode">tree,form</field>
    </record>
    <!-- queue menu -->
    <menuitem
        id="menu_zerynth_queue"
        name="Raw Data Queue"
        action="z_cloud_queue_action"
        groups="ZcloudApp.zcloud_admin"
        parent="menu_zerynth_settings"
        sequence="30"/>
        <!-- log action -->
        <record id="zcloud_log_action" model="ir.actions.act_window">
            <field name="name">Zerynth Platform Log</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">z.cloud.log</field>
            <field name="view_mode">tree,form</field>
        </record>
        <!-- log settings menu -->
        <menuitem
            id="menu_zerynth_log"
            name="Zerynth Platform Log"
            action="zcloud_log_action"
            parent="menu_zerynth_settings"
            sequence="99"
            groups="ZcloudApp.zcloud_admin,base.group_system,base.group_no_one"/>
        <!-- log root parent menu -->
        <menuitem 
            name="Zerynth Platform" 
            id="zcloud_log_root_menu" 
            sequence="99" 
            parent="base.menu_custom" 
            groups="base.group_system"/>
        <!-- log root menu -->
        <menuitem 
            name="Zerynth Platform Log" 
            parent="zcloud_log_root_menu" 
            action="zcloud_log_action" 
            id="zcloud_log_menu" 
            sequence="2" 
            groups="base.group_system"/>
    <!-- device action -->
    <record id="z_cloud_device_action" model="ir.actions.act_window">
        <field name="name">Devices</field>
        <field name="res_model">z.cloud.device</field>
        <field name="view_mode">kanban,tree,form</field>
    </record>
    <!-- device menu -->
    <menuitem
        id="menu_zerynth_device"
        name="Devices"
        action="z_cloud_device_action"
        groups="ZcloudApp.zcloud_user"
        parent="menu_zerynth"
        sequence="10"/>
    <!-- device menu -->
    <menuitem
        id="menu_zerynth_devices"
        name="Devices"
        action="z_cloud_device_action"
        groups="ZcloudApp.zcloud_user"
        parent="menu_zerynth_device"
        sequence="5"/>
    <!-- workspace action -->
    <record id="z_cloud_workspace_action" model="ir.actions.act_window">
        <field name="name">Workspaces</field>
        <field name="res_model">z.cloud.workspace</field>
        <field name="view_mode">kanban,tree,form</field>
    </record>
    <!-- workspace menu -->
    <menuitem
        id="menu_zerynth_workspace"
        name="Workspaces"
        action="z_cloud_workspace_action"
        groups="ZcloudApp.zcloud_user"
        parent="menu_zerynth_device"
        sequence="20"/>
    <!-- fleet action -->
    <record id="z_cloud_fleet_action" model="ir.actions.act_window">
        <field name="name">Fleets</field>
        <field name="res_model">z.cloud.fleet</field>
        <field name="view_mode">kanban,tree,form</field>
    </record>
    <!-- fleet menu -->
    <menuitem
        id="menu_zerynth_fleet"
        name="Fleets"
        action="z_cloud_fleet_action"
        groups="ZcloudApp.zcloud_user"
        parent="menu_zerynth_device"
        sequence="15"/>
    <!-- data action -->
    <record id="z_cloud_data_action" model="ir.actions.act_window">
        <field name="name">Zerynth Platform Data</field>
        <field name="res_model">z.cloud.data</field>
        <field name="view_mode">tree,form</field>
    </record>
    <!-- data menu -->
    <menuitem
        id="menu_zerynth_data"
        name="Zerynth Platform Data"
        action="z_cloud_data_action"
        groups="ZcloudApp.zcloud_admin"
        parent="menu_zerynth_device"
        sequence="25"/>
    <!-- data form action -->
    <record model="ir.actions.act_window" id="z_cloud_data_action_form">
        <field name="name">Data form</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">z.cloud.data</field>
        <field name="view_mode">form</field>
        <field name="target">current</field>
    </record>
    <!-- part program variable action -->
    <record id="part_program_variable_action" model="ir.actions.act_window">
        <field name="name">Part Program Variable</field>
        <field name="res_model">part.program.variable</field>
        <field name="view_mode">tree,form</field>
    </record>
    <!-- part program variable menu -->
    <menuitem
        id="menu_zerynth_part_program_variable"
        name="Part program variable"
        action="part_program_variable_action"
        groups="ZcloudApp.zcloud_admin"
        parent="menu_zerynth_device"
        sequence="30"/>
    <!-- part program variable form action -->
    <record model="ir.actions.act_window" id="part_program_variable_action_form">
        <field name="name">Part program variable form</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">part.program.variable</field>
        <field name="view_mode">form</field>
        <field name="target">current</field>
    </record>
</odoo>
